<html>
<head>
	<script src= "http://code.jquery.com/jquery-2.1.1.js"> </script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body class="ok">
	
<div class="jumbotron container centerdv">
  <h1 class "hey">Survey Is Fun</h1>
  <p><b>Take Surveys here</b></p>

	<div class="row">
		<div class="col-md-6">
			<h2><b><i>Take a Survey</i></b></h3>
			<br>
			<h3>Enter a survey ID#</h5>
			<form method = "post" class = "idtextbox" action = {% url 'load-survey'%}>
				{% csrf_token %}
			<input type = "text" class = "form-control" name = "survey_view">
			<br>
			<input type = "submit" class = "btn btn-success" value = "Go!">
		</form>
		</div>
		<div class="col-md-6">
			<h2><b><i>Admin Login!</i></b></h2>
			<br>
			<h3>Login an Admin User</h3>
			<form method = "post" class = "idtextbox" action = {% url 'admin-login'%}>
				{% csrf_token %}
				<b>Username:</b>
			<input type = "text" class = "form-control" name = "username">
			<br>
			<b>Password</b>
			<input type = "password" class = "form-control" name = "password">
			<br>
			<input type = "submit" class = "btn btn-success" value = "Login">
		</form>
		</div>
	</div>
	{% if login == False %}
  		<div class="alert alert-danger alert-dismissible" role="alert">
  			  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
  			  	<span class="sr-only">Close</span></button>
  			  	Bad Login
  		</div>
	{% endif %}
	<style type = "text/css">
		.ok{
			background-color: grey;
		}
		.centerdv
		{
			margin-top: 5%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.hey{
				font-family: 'Lobster', cursive;
			}
		.idtextbox
		{
			margin-top: 5%;
			margin-bottom: 5%;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.idbutton
		{
			width: 20%;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
	
		</style>
</div>
</body>
</html>
