<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
	<style type = "text/css">
	.centerdv
	{
		margin-top: 10%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.hey{
				font-family: 'Lobster', cursive;
			}
	.centerform
	{
		margin-left: auto;
		margin-right: auto;
		width: 45%;
	}
	</style>
	   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand hey" href={% url 'root' %}>Survey Site</a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a class = "hey" href="#">Add Survey</a></li>
            <li><a class = "hey" href={% url 'admin-panel'%}>View Survey Data</a></li>
          </ul>
      </div>
    </div>

    <div class = "centerdv container">
    	<div class = "page-header">
    		<h2> Create a new Survey</h2>
    	</div>
    	<br>
    	<form method = "post"  class = "centerform" action={% url 'admin-survey-create' %}>
    		{% csrf_token %}
    		<b>Survey Title</b>
    		<input type = "text" class = "form-control" name = "survey_title">
    		<br>
    		<input type = "submit" class= "btn btn-primary" value = "Add Questions">
    	</form>
</body>
</html>