<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
	<style type = "text/css">
	.centerdv
	{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.hey{
				font-family: 'Lobster', cursive;
			}
	.header-top
	{
		margin-top: 5%;
	}
	</style>
	<div class = "jumbotron container centerdv header-top">
		<h2 class="hey" >{{survey.title}}</h2>
	</div>
	<form method = "post" action = {% url 'fill-survey' %}>
	<input type = "hidden" name = "survey_id" value = {{survey.id}}>
	{% csrf_token %}
	{% for question in questions %}
	<div class = "container centerdv">
		<div class = "well page-header">
			<b>{{question.question_text}}</b>
		</div>

		{% for choice in question.choice_set.all %}
	    <label class="radio inline">
            <input type="radio" name ="question{{question.id}}" value={{choice.id}}>
            {{choice.choice_text}}
        </label>
        {% endfor %}




	{% endfor %}
	        <input type = "submit" value = "Complete!" class = "btn btn-lg btn-success">
    </form>
    	</div>
	</div>

	</body>
	</html>